main {
    max-width:600px;
    height:265px;
    background-color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    padding-top:5px;
    text-align:center;
    color:#F6C20A;
    font-size:40px;
}

section {
    padding-left:15px;
}

ul {
    vertical-align:top;
    display:inline-block;
    margin-top:-10px;
}

a {
    vertical-align:top;
    color:white;
    text-decoration:none;
    font-style:italic;
    font-size:24.5px;
}

iframe {
    vertical-align:top;
    display:inline-block;
    border: 1px solid #F6C20A;
}